* {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin: 50px;
}

div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

button {
  padding: 15px 35px;
  margin: 0 5px;
}

